# Upstream Qt WebEngine and Chromium license notices distributed for compliance.
licenses/Qt-WebEngine-6.11.2-Third-Party-Components.html linguist-vendored=true
licenses/qt-webengine-notices/** linguist-vendored=true
